<mat-toolbar color="primary">

    <span><a routerLink="/">MyProject</a></span>
    <span class="spacer"></span>
    <ul>
      <li
      *ngIf="tokenResult">
        <a mat-button
        routerLink="/create"
        routerLinkActive="mat-warn">New Post
        </a>
      </li>
      <li *ngIf="!tokenResult">
        <a mat-button
        routerLink="/login"
        routerLinkActive="mat-warn">Login
        </a>
      </li>
      <li *ngIf="!tokenResult">
        <a mat-button
        routerLink="/signup"
        routerLinkActive="mat-warn">SignUp
        </a>
      </li>
      <li *ngIf="tokenResult">
        <button mat-button (click)="onLogout()">Logout</button>
      </li>
    </ul>

</mat-toolbar>
